body {
  line-height: 2.5;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}

h1 {
  line-height: 1;
  font-size: 2.8rem;
}

h2 {
  margin: 1rem 0;
  line-height: 1;
}

header {
  background-color: rgb(76, 38, 118);
  color: #fff;
  display: flow-root;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

button,
#new-entries-button {
  line-height: 1.8;
  border-radius: 4px;
  background-color: rgb(76, 38, 118);
  color: rgb(255, 255, 255);
  margin: 1rem 0;
  font-size: inherit;
  padding: 0 1rem;
}

#entries-anchor {
  padding: 0.9rem 2rem;
  text-decoration: none;
  font-size: 1.8rem;
}

#delete-entry {
  color: red;
}

#new-entries-button {
  text-decoration: none;
  padding: 0.4rem 1.3rem;
  font-size: 2rem;
}

.button-div {
  padding: 1rem;
}

li.row > div > p {
  margin: 0;
}

li.row > div > img {
  border-radius: 7px;
}

a {
  color: rgb(255, 255, 255);
}

div.container > h1 > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.7rem;
  padding: 1.2rem;
}

#toggle-no-entries {
  text-align: center;
}

input,
textarea {
  line-height: inherit;
  border-radius: 4px;
  border-color: rgb(162, 162, 163);
  border-style: solid;
  border-width: 1px;
  font-size: inherit;
}

.display-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.column-half-strict {
  flex-direction: column;
  flex-basis: 50%;
}

.text-align-end {
  text-align: end;
}

.modal-box {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 8px;
  border-style: none;
  background-color: rgb(255, 255, 255);
}

.modal-buttons {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

#cancel {
  background-color: rgb(182, 182, 182);
  color: rgb(41, 41, 41);
  border: none;
}

#confirm {
  background-color: rgb(220, 38, 38);
  border: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
