body {
  line-height: 2.5;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}

h1 {
  line-height: 1;
  font-size: 2.8rem;
}

h2 {
  margin: 1rem 0;
  line-height: 1;
}

header {
  background-color: rgb(76, 38, 118);
  color: #fff;
  display: flow-root;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

button {
  line-height: 1.8;
  border-radius: 4px;
  background-color: rgb(76, 38, 118);
  color: rgb(255, 255, 255);
  margin: 1rem 0;
  font-size: inherit;
  padding: 0 1rem;
}

li.row > div > p {
  margin: 0;
}

li.row > div > img {
  border-radius: 7px;
}

input,
textarea {
  line-height: inherit;
  border-radius: 4px;
  border-color: rgb(162, 162, 163);
  border-style: solid;
  border-width: 1px;
  font-size: inherit;
}

.display-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-align-end {
  text-align: end;
}
